@import "mixins.less";

@gray10:	#e7e9eb;
@gray20:	#f4f6f7;
@gray30:	#828890;

@tab-aside-width: 	310px;

.tab-aside-container {	
	border: 1px solid @gray10;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: @tab-aside-width;
	height: 100%;
	overflow: auto;
	.transition(right 0.5s ease-in-out);

	&.closed {
		right: -@tab-aside-width;
	}

	.tab-aside-header {
		color: @gray30;
		background-color: @gray20;		
		border-bottom: solid 1px @gray10;
		padding: 15px 20px;
		position: relative;
	}

	.tab-aside-title {
		font-size: 24px; 
		color: inherit;
	}

	.tab-aside-close {
		font-size: 18px; 
		color: inherit;
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
	}
}

.property-obj {
	border-bottom: 1px solid @gray10;
	padding: 15px;
	font-size: 13px; 

	label {
		font-weight: bold;
		padding-bottom: 0px;
	}

	.bool-type {
		.input-switch {
			display: inline-block;
		}
		.tab-aside-description {
			padding: 10px 0px;
		}
	}
	.select-type {
		.tab-aside-description {
			padding-bottom: 10px;
		}
	}
}