
@import "mixins.less";

html,
body {
	overflow: hidden;
}

html,
body,
.nav-main-container,
.main-container,
.view-container,
.view-frame,
.view-frame > .container-fluid {
	height: 100%;
}

.nav-main-container {
	.clearfix();
}

.main-container {
	margin-left: 283px;
	position: relative;
	overflow: auto;
}