
@import "mixins.less";


.properties-container {
		
}

.property {
	margin-bottom: 20px;
	.clearfix();

	.property-label {
		float: left;

		label {
			font-weight: normal;
			line-height: 32px;
		}
	}

	.property-input {
		float: right;
	}
}

.section-title {
	margin-bottom: 25px;
}

.details-container {
	border-left: solid 1px #bdc0c4;
	padding-left: 30px;
	min-height: 600px;

	.section {
		margin-bottom: 20px;
		padding-bottom: 30px;
		border-bottom: solid 1px #bdc0c4;

		&:last-child {
			border-bottom: 0;
		}
	}
}