html,
body {
  overflow: hidden;
}
html,
body,
.nav-main-container,
.main-container,
.view-container,
.view-frame,
.view-frame > .container-fluid {
  height: 100%;
}
.nav-main-container:before,
.nav-main-container:after {
  content: " ";
  display: table;
}
.nav-main-container:after {
  clear: both;
}
.main-container {
  margin-left: 283px;
  position: relative;
  overflow: auto;
}
.card {
  padding: 15px;
  border: solid 1px #bdc0c4;
  position: relative;
  border-radius: 4px;
  min-height: 100px;
  display: block;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.card:hover {
  text-decoration: none;
  color: inherit;
  background-color: #f2f2f2;
}
.card.card-add {
  border-color: #ebebeb;
}
.card.card-add .card-icon,
.card.card-add .card-title {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.card.card-add .card-icon {
  font-size: 28px;
  position: static;
  text-align: center;
}
.card.card-add .card-title {
  color: #d6d6d6;
  text-align: center;
}
.card.card-add:hover .card-icon,
.card.card-add:hover .card-title {
  color: #333;
}
.card-title {
  font-size: 18px;
  display: block;
}
.card-type {
  font-size: 12px;
  display: block;
}
.card-icon {
  font-size: 48px;
  color: #e6e8ea;
  display: block;
  position: absolute;
  right: 15px;
  bottom: -4px;
}
.card-default {
  font-size: 18px;
  color: green;
  position: absolute;
  bottom: 7px;
  left: 15px;
}
.form-horizontal .control-label {
  text-align: left;
}
.faux-header {
  background-color: #303a45;
}
.faux-header:before,
.faux-header:after {
  content: " ";
  display: table;
}
.faux-header:after {
  clear: both;
}
.side-nav {
  background-image: url(../images/navigation.png);
  background-repeat: no-repeat;
  background-color: #303a45;
  width: 283px;
  position: fixed;
  top: 50px;
  bottom: 0;
}
.main-container .navbar {
  padding: 6px 0;
  border-radius: 0;
  border-bottom: 1px solid #bdc0c4;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 2px;
  margin-bottom: 0;
}
.main-container .navbar .navbar-title {
  font-size: 13px;
  font-weight: bold;
  margin: 9px 0 9px 5px;
  vertical-align: middle;
  color: #485563;
}
.main-container .navbar-default {
  background-color: #e6e8ea;
  border-color: #d4d7db;
}
.sidebar {
  height: 10000px;
  overflow: hidden;
  border-right: solid 1px #bdc0c4;
  margin-left: -15px;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar ul li {
  color: #333;
  text-align: center;
}
.sidebar ul li a {
  display: block;
  padding: 30px 0;
  border-bottom: solid 1px #bdc0c4;
  font-size: 16px;
  color: inherit;
}
.sidebar ul li a:hover {
  text-decoration: none;
}
.sidebar ul li.active a {
  background-color: #278efc;
  color: #fff;
}
.sidebar ul li .fa {
  display: block;
  font-size: 28px;
  margin-bottom: 10px;
}
.properties-container,
.details-container {
  margin-top: 30px;
}
.properties-container {
  border-right: solid 1px #bdc0c4;
  padding-right: 30px;
  min-height: 600px;
}
.property {
  margin-bottom: 20px;
}
.property:before,
.property:after {
  content: " ";
  display: table;
}
.property:after {
  clear: both;
}
.property .property-label {
  float: left;
}
.property .property-label label {
  font-weight: normal;
  line-height: 32px;
}
.property .property-input {
  float: right;
}
.section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #bdc0c4;
}
.section:last-child {
  border-bottom: 0;
}
.section-title {
  margin-bottom: 25px;
}
