
<div class="container-fluid" ng-controller="homeController as model">
	<div class="details-container">
		<section class="section">
			<header>
				<h4 class="section-title">Identity Providers (IdP)</h4>
			</header>
			<div class="row">
				<div class="col-sm-4 col-md-3" ng-repeat="idp in model.identityProviders">
					<card name="idp.name" 
						  type="idp.type" 
						  url="#/identity-provider" 
						  icon="icon-database" 
						  css-class="card-idp" 
						  badge-text="idp.badgeText" />
				</div>
				<div class="col-sm-4 col-md-3">
					<new-card url="#/identity-provider" />
				</div>
			</div>
		</section>
		<section class="section">
			<header>
				<h4 class="section-title">Federations</h4>
			</header>
			<div class="row">
				<div class="col-sm-4 col-md-3" ng-repeat="idp in model.federations">
					<card name="idp.name" 
						  type="idp.type" 
						  icon="icon-key" 
						  css-class="card-federation" />
				</div>
				<div class="col-sm-4 col-md-3">
					<new-card />
				</div>
			</div>
		</section>
		<section class="section">
			<header>
				<h4 class="section-title">Certificates</h4>
			</header>
			<div class="row">
				<div class="col-sm-4 col-md-3" ng-repeat="idp in model.federations">
					<card name="idp.name" 
						  type="idp.type" 
						  icon="icon-article-document" 
						  css-class="card-certificate" />
				</div>
				<div class="col-sm-4 col-md-3">
					<new-card />
				</div>
			</div>
		</section>
	</div>
</div>